a* {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: Montserrat;
  src: url(../fotns/montserrat/Montserrat-Regular.otf);
}
#HeaderSection .AloHead {
  background: #3b3d40;
}
#HeaderSection .AloHead .img-keeper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeaderSection .AloHead .img-keeper .img-holder {
  display: flex;
  align-items: center;
}
#HeaderSection .AloHead .nav-btn {
  font-size: 30px;
  color: lightgray;
  text-align: center;
  cursor: pointer;
}
#HeaderSection .AloHead .menu-trigger {
  display: none;
}
#HeaderSection .AloHead .AloNums {
  margin: 18px 0;
  display: flex;
}
#HeaderSection .AloHead .AloNums .num-keeper {
  padding: 0;
  margin-bottom: 0;
}
#HeaderSection .AloHead .AloNums .num-keeper li {
  display: inline-block;
  padding: 0 8px;
}
#HeaderSection .AloHead .AloNums .num-keeper li span a {
  color: #757779;
  font-size: 12px;
  font-family: Montserrat;
}
#HeaderSection .AloHead .social-network {
  margin: 18px 0;
  margin-left: 10px;
}
#HeaderSection .AloHead .social-network ul {
  padding: 0;
}
#HeaderSection .AloHead .social-network ul li:first-child {
  padding-left: 0;
  padding-right: 18px;
}
#HeaderSection .AloHead .social-network ul li {
  display: inline-block;
  padding: 0 18px;
}
#HeaderSection .AloHead .AloNavigation {
  margin: 18px 0;
}
#HeaderSection .AloHead .AloNavigation .navigation {
  padding: 0;
  margin-bottom: 0;
}
#HeaderSection .AloHead .AloNavigation .navigation li:first-child {
  padding-left: 0;
  padding-right: 8px;
}
#HeaderSection .AloHead .AloNavigation .navigation li {
  padding: 0 8px;
  display: inline-block;
}
#HeaderSection .AloHead .AloNavigation .navigation li span a {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
}

#HeaderInfo .header-desc {
  position: absolute;
  z-index: 200;
  padding: 185px 0;
  width: 100%;
  text-align: center;
}
#HeaderInfo .header-desc h1 {
  font-weight: bold;
  color: white;
  font-family: Montserrat;
  font-size: 52px;
}
#HeaderInfo .header-desc p {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
}
#HeaderInfo .carousel-inner img {
  width: 100%;
  height: 100%;
}

#ServicesSection .online-order {
  display: flex;
  background-color: #ffce00;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  margin-bottom: -60px;
  margin-top: 10px;
  position: fixed;
  z-index: 1000;
  top: 10%;
}
#ServicesSection .online-order p {
  transform: rotate(-90deg);
  font-size: 14px;
  color: #3b3d40;
  font-family: Montserrat;
}
#ServicesSection .services-desc h1 {
  font-size: 60px;
  color: #3b3d40;
  padding: 50px 0;
  font-family: Montserrat;
}
#ServicesSection .services-keeper {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
#ServicesSection .services-keeper .desc-img-keep img {
  width: 100%;
}
#ServicesSection .services-keeper .serv-desc-keep h2 {
  font-size: 36px;
  color: #3b3d40;
  font-weight: bold;
  font-family: Montserrat;
}
#ServicesSection .services-keeper .serv-desc-keep p {
  font-size: 25px;
  color: #656b6f;
  font-family: Montserrat;
}

#AboutSection {
  margin: 100px 0;
}
#AboutSection .about-desc {
  background-color: #3b3d40;
  position: relative;
}
#AboutSection .about-desc .col-md-8 {
  margin-left: 150px;
}
#AboutSection .about-desc .col-md-8 h1 {
  font-size: 50px;
  color: white;
  font-family: Montserrat;
  padding: 45px 0;
}
#AboutSection .about-desc .col-md-8 p {
  padding-bottom: 45px;
  font-size: 15px;
  color: white;
  font-family: Montserrat;
}
#AboutSection .about-img-keeper {
  position: absolute;
  z-index: 9000;
  top: -69px;
  right: 0;
}
#AboutSection .about-img-keeper img {
  width: 100%;
}

#FeaturesSection {
  background-color: #f9f9f9;
  padding: 50px 0;
}
#FeaturesSection .features-desc h1 {
  font-size: 60px;
  color: #3b3d40;
  padding: 50px 0;
  font-family: Montserrat;
}
#FeaturesSection .feature-keep {
  text-align: center;
}
#FeaturesSection .feature-keep h4 {
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat;
  color: #3b3d40;
  padding: 20px 0;
}
#FeaturesSection .feature-keep p {
  font-size: 12px;
  font-family: Montserrat;
  color: #656b6f;
  padding-bottom: 30px;
}

#VacanciesSection .vacancy-desc h1 {
  font-size: 60px;
  color: #3b3d40;
  padding: 50px 0;
  font-family: Montserrat;
}
#VacanciesSection .vac-btn {
  width: 176px;
  border: 2px solid #ffc100;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #ffc100;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}
#VacanciesSection .vac-btn:hover {
  color: white;
  background-color: #ffc100;
  transition: 0.5s ease;
}
#VacanciesSection .active-vacan {
  color: white;
  background-color: #ffc100;
}
#VacanciesSection .vacancy-desc-keeper {
  border: 2px solid #ffc100;
  border-radius: 10px;
  margin-bottom: 70px;
}
#VacanciesSection .vacancy-desc-keeper .vac-header-keep {
  background-color: #ffc100;
  border-radius: 0 0 10px 10px;
}
#VacanciesSection .vacancy-desc-keeper .vac-header-keep h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat;
  color: #3b3d40;
  padding: 30px;
}
#VacanciesSection .vacancy-desc-keeper p {
  padding: 30px;
  font-size: 14px;
  font-family: Montserrat;
  color: #656b6f;
  padding-bottom: 30px;
}

#ContactSection {
  background-color: #f9f9f9;
  padding-bottom: 80px;
}
#ContactSection .contact-desc h1 {
  font-size: 60px;
  color: #3b3d40;
  padding: 50px 0;
  font-family: Montserrat;
}
#ContactSection .contact-desc p {
  font-size: 14px;
  font-family: Montserrat;
  color: #656b6f;
}
#ContactSection .contact-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ffc100;
  font-weight: bold;
  color: #656b6f;
  font-family: Montserrat;
}
#ContactSection .contact-btn {
  width: 176px;
  border: 2px solid #ffc100;
  height: 43px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #ffc100;
  float: right;
  margin-right: -10px;
  margin-top: 10px;
}
#ContactSection .social-network {
  margin: 18px 0;
}
#ContactSection .social-network ul {
  padding: 0;
}
#ContactSection .social-network ul li:first-child {
  padding-left: 0;
  padding-right: 18px;
}
#ContactSection .social-network ul li {
  display: inline-block;
  padding: 0 18px;
}

#FooterSection {
  background-color: #3b3d40;
}
#FooterSection .AloNavigation {
  margin: 18px 0;
}
#FooterSection .AloNavigation .navigation {
  padding: 0;
  margin-bottom: 0;
}
#FooterSection .AloNavigation .navigation li:first-child {
  padding-left: 0;
  padding-right: 18px;
}
#FooterSection .AloNavigation .navigation li {
  padding: 0 18px;
  display: inline-block;
}
#FooterSection .AloNavigation .navigation li span a {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
}

@media screen and (min-width: 767px) and (max-width: 1039px) {
  #HeaderSection .AloHead .nav-btn {
    display: flex;
    justify-content: flex-end;
  }
  #HeaderSection .AloHead .nav-btn .menu-trigger {
    border-radius: 10px;
    display: block;
    font-size: 50px;
  }
  #HeaderSection .AloHead .num-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .num-row .AloNums {
    text-align: center;
  }
  #HeaderSection .AloHead .num-row .AloNums ul li {
    display: block;
  }
  #HeaderSection .AloHead .num-row .AloNums ul li span a {
    font-size: 35px !important;
  }
  #HeaderSection .AloHead .nav-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .nav-row .navigation {
    display: none;
  }
  #HeaderSection .AloHead .nav-row .navigation li {
    padding: 0 3px;
    display: block;
  }
  #HeaderSection .AloHead .nav-row .navigation li span a {
    color: #757779;
    font-size: 35px;
    font-family: Montserrat;
  }
  #HeaderSection .AloHead .nav-row .navigation li:first-child {
    padding-left: 3px;
    padding-right: 3px;
  }

  #HeaderInfo .header-desc {
    padding: 85px 0;
    width: 100%;
    text-align: center;
  }
  #HeaderInfo .header-desc h1 {
    font-weight: bold;
    color: white;
    font-family: Montserrat;
    font-size: 45px;
  }
  #HeaderInfo .header-desc p {
    color: white;
    font-family: Montserrat;
    font-size: 30px;
  }

  #ServicesSection .online-order {
    display: flex;
    background-color: #ffce00;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    margin-bottom: -60px;
    margin-top: 10px;
  }
  #ServicesSection .online-order p {
    transform: rotate(-90deg);
    font-size: 14px;
    color: #3b3d40;
    font-family: Montserrat;
  }
  #ServicesSection .services-desc h1 {
    font-size: 2.5rem;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
  #ServicesSection .services-keeper .img-display {
    display: none;
  }
  #ServicesSection .services-keeper .serv-desc-keep h2 {
    font-size: 32px;
    color: #3b3d40;
    font-weight: bold;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper .serv-desc-keep p {
    font-size: 28px;
    color: #656b6f;
    font-family: Montserrat;
  }

  #AboutSection {
    margin: 100px 0;
  }
  #AboutSection .about-desc {
    background-color: #3b3d40;
    position: relative;
    display: flex;
    justify-content: center;
  }
  #AboutSection .about-desc .col-md-8 {
    text-align: center;
    margin-left: 0px;
  }
  #AboutSection .about-desc .col-md-8 h1 {
    font-size: 2.5rem;
    color: white;
    font-family: Montserrat;
    padding: 25px 0;
  }
  #AboutSection .about-desc .col-md-8 p {
    padding-bottom: 45px;
    font-size: 26px;
    color: white;
    font-family: Montserrat;
  }
  #AboutSection .about-img-keeper {
    display: none;
    position: absolute;
    z-index: 9000;
    top: -69px;
    right: 0;
  }
  #AboutSection .about-img-keeper img {
    width: 100%;
  }

  #FeaturesSection {
    background-color: #f9f9f9;
    padding: 0px 0;
  }
  #FeaturesSection .features-desc h1 {
    font-size: 2.5rem;
    color: #3b3d40;
    padding: 10px 0;
    font-family: Montserrat;
  }
  #FeaturesSection .feature-keep {
    text-align: center;
  }
  #FeaturesSection .feature-keep h4 {
    font-size: 27px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 0px 0;
  }
  #FeaturesSection .feature-keep p {
    font-size: 30px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #VacanciesSection .cnt-fluid {
    max-width: 100%;
  }
  #VacanciesSection .vacancy-desc h1 {
    font-size: 2.5rem;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #VacanciesSection .vac-btn {
    width: 176px;
    border: 2px solid #ffc100;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: #ffc100;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }
  #VacanciesSection .vac-btn:hover {
    color: white;
    background-color: #ffc100;
    transition: 0.5s ease;
  }
  #VacanciesSection .active-vacan {
    color: white;
    background-color: #ffc100;
  }
  #VacanciesSection .vacancy-desc-keeper {
    border: 2px solid #ffc100;
    border-radius: 10px;
    margin-bottom: 70px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep {
    background-color: #ffc100;
    border-radius: 0 0 10px 10px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 30px;
  }
  #VacanciesSection .vacancy-desc-keeper p {
    padding: 30px;
    font-size: 27px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #ContactSection {
    background-color: #f9f9f9;
    padding-bottom: 50px;
  }
  #ContactSection .cnt-fluid {
    max-width: 100%;
  }
  #ContactSection .contact-desc h1 {
    font-size: 2.5rem;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ContactSection .contact-desc p {
    font-size: 30px;
    font-family: Montserrat;
    color: #656b6f;
  }
  #ContactSection .contact-input {
    width: 100%;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #ffc100;
    font-weight: bold;
    color: #656b6f;
    font-family: Montserrat;
    font-size: 25px;
  }
  #ContactSection .contact-btn {
    width: 244px;
    border: 2px solid #ffc100;
    height: 61px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #ffc100;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 30px;
  }
  #ContactSection .social-network {
    margin: 18px 0;
  }
  #ContactSection .social-network ul {
    padding: 0;
  }
  #ContactSection .social-network ul li:first-child {
    padding-left: 0;
    padding-right: 18px;
  }
  #ContactSection .social-network ul li {
    display: inline-block;
    padding: 0 18px;
  }
  #ContactSection .social-network ul li span a {
    font-size: 33px;
    color: #656b6f;
  }

  #FooterSection {
    background-color: #3b3d40;
  }
  #FooterSection .AloNavigation {
    margin: 18px 0;
  }
  #FooterSection .AloNavigation .navigation {
    padding: 0;
    margin-bottom: 0;
  }
  #FooterSection .AloNavigation .navigation li:first-child {
    padding-left: 18px;
    padding-right: 18px;
  }
  #FooterSection .AloNavigation .navigation li {
    padding: 0 18px;
    display: block;
  }
  #FooterSection .AloNavigation .navigation li span a {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
  }
}
@media screen and (min-width: 479px) and (max-width: 766px) {
  #HeaderSection .AloHead .nav-btn {
    display: flex;
    justify-content: center;
  }
  #HeaderSection .AloHead .nav-btn .menu-trigger {
    border-radius: 10px;
    display: block;
  }
  #HeaderSection .AloHead .num-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .num-row .AloNums {
    text-align: center;
  }
  #HeaderSection .AloHead .num-row .AloNums ul li {
    display: block;
  }
  #HeaderSection .AloHead .num-row .AloNums ul li span a {
    font-size: 35px !important;
  }
  #HeaderSection .AloHead .nav-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .nav-row .navigation {
    display: none;
  }
  #HeaderSection .AloHead .nav-row .navigation li {
    padding: 0 3px;
    display: block;
  }
  #HeaderSection .AloHead .nav-row .navigation li span a {
    color: #757779;
    font-size: 35px;
    font-family: Montserrat;
  }
  #HeaderSection .AloHead .nav-row .navigation li:first-child {
    padding-left: 3px;
    padding-right: 3px;
  }

  #HeaderInfo .header-desc {
    padding: 38px 0;
    width: 100%;
    text-align: center;
  }
  #HeaderInfo .header-desc h1 {
    font-weight: bold;
    color: white;
    font-family: Montserrat;
    font-size: 40px;
  }
  #HeaderInfo .header-desc p {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
  }

  #ServicesSection .online-order {
    display: flex;
    background-color: #ffce00;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    margin-bottom: -60px;
    margin-top: 10px;
  }
  #ServicesSection .online-order p {
    transform: rotate(-90deg);
    font-size: 14px;
    color: #3b3d40;
    font-family: Montserrat;
  }
  #ServicesSection .services-desc h1 {
    font-size: 40px;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
  #ServicesSection .services-keeper .img-display {
    display: none;
  }
  #ServicesSection .services-keeper .serv-desc-keep h2 {
    font-size: 30px;
    color: #3b3d40;
    font-weight: bold;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper .serv-desc-keep p {
    font-size: 13px;
    color: #656b6f;
    font-family: Montserrat;
  }

  #AboutSection {
    margin: 100px 0;
  }
  #AboutSection .about-desc {
    background-color: #3b3d40;
    position: relative;
  }
  #AboutSection .about-desc .col-md-8 {
    margin-left: 0px;
  }
  #AboutSection .about-desc .col-md-8 h1 {
    font-size: 40px;
    color: white;
    font-family: Montserrat;
    padding: 25px 0;
  }
  #AboutSection .about-desc .col-md-8 p {
    padding-bottom: 45px;
    font-size: 12px;
    color: white;
    font-family: Montserrat;
  }
  #AboutSection .about-img-keeper {
    display: none;
    position: absolute;
    z-index: 9000;
    top: -69px;
    right: 0;
  }
  #AboutSection .about-img-keeper img {
    width: 100%;
  }

  #FeaturesSection {
    background-color: #f9f9f9;
    padding: 0px 0;
  }
  #FeaturesSection .features-desc h1 {
    font-size: 30px;
    color: #3b3d40;
    padding: 12px 0;
    font-family: Montserrat;
  }
  #FeaturesSection .feature-keep {
    text-align: center;
  }
  #FeaturesSection .feature-keep h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 0px 0;
  }
  #FeaturesSection .feature-keep p {
    font-size: 14px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #VacanciesSection .vacancy-desc h1 {
    font-size: 30px;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #VacanciesSection .vac-btn {
    width: 176px;
    border: 2px solid #ffc100;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: #ffc100;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }
  #VacanciesSection .vac-btn:hover {
    color: white;
    background-color: #ffc100;
    transition: 0.5s ease;
  }
  #VacanciesSection .active-vacan {
    color: white;
    background-color: #ffc100;
  }
  #VacanciesSection .vacancy-desc-keeper {
    border: 2px solid #ffc100;
    border-radius: 10px;
    margin-bottom: 70px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep {
    background-color: #ffc100;
    border-radius: 0 0 10px 10px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 30px;
  }
  #VacanciesSection .vacancy-desc-keeper p {
    padding: 30px;
    font-size: 14px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #ContactSection {
    background-color: #f9f9f9;
    padding-bottom: 50px;
  }
  #ContactSection .contact-desc h1 {
    font-size: 30px !important;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ContactSection .contact-desc p {
    font-size: 14px;
    font-family: Montserrat;
    color: #656b6f;
  }
  #ContactSection .contact-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #ffc100;
    font-weight: bold;
    color: #656b6f;
    font-family: Montserrat;
  }
  #ContactSection .contact-btn {
    width: 176px;
    border: 2px solid #ffc100;
    height: 43px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #ffc100;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
  }
  #ContactSection .social-network {
    margin: 18px 0;
  }
  #ContactSection .social-network ul {
    padding: 0;
  }
  #ContactSection .social-network ul li:first-child {
    padding-left: 0;
    padding-right: 18px;
  }
  #ContactSection .social-network ul li {
    display: inline-block;
    padding: 0 18px;
  }

  #FooterSection {
    background-color: #3b3d40;
  }
  #FooterSection .AloNavigation {
    margin: 18px 0;
  }
  #FooterSection .AloNavigation .navigation {
    padding: 0;
    margin-bottom: 0;
  }
  #FooterSection .AloNavigation .navigation li:first-child {
    padding-left: 3px;
    padding-right: 3px;
  }
  #FooterSection .AloNavigation .navigation li {
    padding: 0 3px;
    display: inline-block;
  }
  #FooterSection .AloNavigation .navigation li span a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat;
  }
}
@media screen and (max-width: 479px) {
  #HeaderSection .AloHead .nav-btn {
    display: flex;
    justify-content: center;
  }
  #HeaderSection .AloHead .nav-btn .menu-trigger {
    border-radius: 10px;
    display: block;
  }
  #HeaderSection .AloHead .row .num-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .row .num-row .AloNums {
    text-align: center;
  }
  #HeaderSection .AloHead .row .num-row .AloNums .num-keeper li {
    display: block;
  }
  #HeaderSection .AloHead .row .nav-row {
    justify-content: center;
  }
  #HeaderSection .AloHead .row .nav-row .navigation {
    display: none;
  }
  #HeaderSection .AloHead .row .nav-row .navigation li {
    display: block !important;
  }
  #HeaderSection .AloHead .row .nav-row .navigation li:first-child {
    padding-left: 18px;
    padding-right: 18px;
  }
  #HeaderSection .AloHead .social-network {
    text-align: center;
  }

  #HeaderInfo .header-desc {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }
  #HeaderInfo .header-desc h1 {
    font-weight: bold;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
  }
  #HeaderInfo .header-desc p {
    color: white;
    font-family: Montserrat;
    font-size: 8px;
  }

  #ServicesSection .online-order {
    display: flex;
    background-color: #ffce00;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    margin-bottom: -60px;
    margin-top: 10px;
  }
  #ServicesSection .online-order p {
    transform: rotate(-90deg);
    font-size: 14px;
    color: #3b3d40;
    font-family: Montserrat;
  }
  #ServicesSection .services-desc h1 {
    font-size: 40px;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
  #ServicesSection .services-keeper .serv-desc-keep h2 {
    font-size: 24px;
    color: #3b3d40;
    font-weight: bold;
    font-family: Montserrat;
  }
  #ServicesSection .services-keeper .serv-desc-keep p {
    font-size: 10px;
    color: #656b6f;
    font-family: Montserrat;
  }

  #AboutSection {
    margin: 100px 0;
  }
  #AboutSection .about-desc {
    background-color: #3b3d40;
    position: relative;
  }
  #AboutSection .about-desc .col-md-5 {
    margin-left: 0px;
  }
  #AboutSection .about-desc .col-md-5 h1 {
    font-size: 28px;
    color: white;
    font-family: Montserrat;
    padding: 25px 0;
  }
  #AboutSection .about-desc .col-md-5 p {
    padding-bottom: 45px;
    font-size: 12px;
    color: white;
    font-family: Montserrat;
  }
  #AboutSection .about-img-keeper {
    display: none;
    position: absolute;
    z-index: 9000;
    top: -69px;
    right: 0;
  }
  #AboutSection .about-img-keeper img {
    width: 100%;
  }

  #FeaturesSection {
    background-color: #f9f9f9;
    padding: 0px 0;
  }
  #FeaturesSection .features-desc h1 {
    font-size: 28px;
    color: #3b3d40;
    padding: 10px 0;
    font-family: Montserrat;
  }
  #FeaturesSection .feature-keep {
    text-align: center;
  }
  #FeaturesSection .feature-keep h4 {
    font-size: 10px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 0px 0;
  }
  #FeaturesSection .feature-keep p {
    font-size: 8px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #VacanciesSection .vacancy-desc h1 {
    font-size: 28px;
    color: #3b3d40;
    padding: 10px 0;
    font-family: Montserrat;
  }
  #VacanciesSection .vac-btn {
    width: 176px;
    border: 2px solid #ffc100;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: #ffc100;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }
  #VacanciesSection .vac-btn:hover {
    color: white;
    background-color: #ffc100;
    transition: 0.5s ease;
  }
  #VacanciesSection .active-vacan {
    color: white;
    background-color: #ffc100;
  }
  #VacanciesSection .vacancy-desc-keeper {
    border: 2px solid #ffc100;
    border-radius: 10px;
    margin-bottom: 70px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep {
    background-color: #ffc100;
    border-radius: 0 0 10px 10px;
  }
  #VacanciesSection .vacancy-desc-keeper .vac-header-keep h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3b3d40;
    padding: 30px;
  }
  #VacanciesSection .vacancy-desc-keeper p {
    padding: 30px;
    font-size: 10px;
    font-family: Montserrat;
    color: #656b6f;
    padding-bottom: 30px;
  }

  #ContactSection {
    background-color: #f9f9f9;
    padding-bottom: 80px;
  }
  #ContactSection .contact-desc h1 {
    font-size: 28px;
    color: #3b3d40;
    padding: 50px 0;
    font-family: Montserrat;
  }
  #ContactSection .contact-desc p {
    font-size: 10px;
    font-family: Montserrat;
    color: #656b6f;
  }
  #ContactSection .contact-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #ffc100;
    font-weight: bold;
    color: #656b6f;
    font-family: Montserrat;
  }
  #ContactSection .contact-btn {
    width: 176px;
    border: 2px solid #ffc100;
    height: 43px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #ffc100;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
  }
  #ContactSection .social-network {
    margin: 18px 0;
  }
  #ContactSection .social-network ul {
    padding: 0;
  }
  #ContactSection .social-network ul li:first-child {
    padding-left: 0;
    padding-right: 18px;
  }
  #ContactSection .social-network ul li {
    display: inline-block;
    padding: 0 18px;
  }

  #FooterSection {
    background-color: #3b3d40;
  }
  #FooterSection .AloNavigation {
    margin: 18px 0;
  }
  #FooterSection .AloNavigation .navigation {
    padding: 0;
    margin-bottom: 0;
  }
  #FooterSection .AloNavigation .navigation li:first-child {
    padding-left: 18px;
    padding-right: 0px;
  }
  #FooterSection .AloNavigation .navigation li {
    padding: 0 18px;
    display: block;
  }
  #FooterSection .AloNavigation .navigation li span a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat;
  }
}

/*# sourceMappingURL=style.css.map */
